
<div class="row">


    <div class="card card-custom card-stretch gutter-b">
        <!-- Header -->
        <div class="card-header border-0 mt-4">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label font-weight-bolder text-dark">Files</span>
                <span class="text-muted mt-3 font-weight-bold font-size-sm">click Below List to load the file</span>
            </h3>
        </div>
        <!-- Body -->
        <div class="card-body pt-8">
            <!--begin::Item-->
            <div class="d-flex align-items-center mb-10">
                <!--begin::Text-->
                <div class="d-flex flex-column font-weight-bold">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>File Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let doc of allDocuments; index as i">
                                <td>{{i+1}}</td>
                                <td>{{doc.fileName}}</td>
                                <td> <button class="btn btn-primary" (click)="reloadDocument(doc.location)"> Load</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--end::Text-->
            </div>

        </div>
    </div>
    <div class="col-6">
        <pdf-viewer [src]="doc" [original-size]="false" [autoresize]="true" style="display: block"></pdf-viewer>
    </div>
</div>
