<!--<div class="col-md-3 mx-auto my-5" *ngFor="let item of showDetails; index as j;">-->
<!--<app-deal-info-widget [dealInfo]="item"
                      [widgetHeight]="'150px'" cssClass="gutter-b card-stretch" *ngIf="j > 5"
                      [ngClass]="j>5 ? '':'hiddenWidget hiddenWidget_{{gDeals.name}}'"></app-deal-info-widget>-->
<!--</div>-->
<!--<div class="engbutton">
    <button class="englishButton" (click)="open = !open">Append</button>
    <div *ngIf="open" class="col-md-3 mx-auto my-5">
        <div class="col-md-3 mx-auto my-5" *ngFor="let item of showDetails; index as j;">
            <app-deal-info-widget [dealInfo]="item"
                                  [widgetHeight]="'150px'" cssClass="gutter-b card-stretch" *ngIf="j > 5"></app-deal-info-widget>
        </div>
    </div>
</div>-->

<!--<div class="col-md-3 mx-auto my-5" *ngFor="let item of showDetails; index as j;">
    <app-deal-info-widget [dealInfo]="item"
                          [widgetHeight]="'150px'" cssClass="gutter-b card-stretch" *ngIf="j > 5"></app-deal-info-widget>
</div>-->
