
<div>
    <a class="btn btn-primary"
       routerLink="/asset/createNewDeal"
       routerLinkActive="active">
        <i class="menu-bullet menu-bullet-dot">
            <span></span>
        </i>
        <span class="menu-text">Create New Deal</span>
    </a>
</div>



<div *ngFor="let gDeals of groupedDeals; index as i;">
    <div class="p-1 flex-grow-1">
        <h3 class="text-black-50 font-weight-bolder line-height-lg mb-5">
            Project Status: {{gDeals.name}}
        </h3>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="show = !show" ng-model="show" />
            <label class="form-check-label" for="flexCheckDefault">
                Show all Records
            </label>
        </div>
    </div>
    <!--<p class="text-dark-100 font-weight-normal font-size-lg mt-6">
      
    </p>-->
    <div class="row">

        <div *ngIf="gDeals.value.length > 5">

            <!--<app-show-remaining-deals [showDetails]="gDeals.value">Show info</app-show-remaining-deals>-->
            

            <!--<button (onclick)="show =!show" ng-model="show">Show All Projects</button>-->
        </div>
        <div class="col-md-3 mx-auto my-5" *ngFor="let item of gDeals.value; index as j;">

            <app-deal-info-widget [dealInfo]="item"
                                  [widgetHeight]="'150px'" cssClass="gutter-b card-stretch" *ngIf="j < 5 || show"
                                  [ngClass]="j < 5 ? '':'hiddenWidget hiddenWidget'"></app-deal-info-widget>
        </div>

    </div>
   
</div>
